body {
    margin: 0;
    display: flex;
    justify-content: center;
}

/****************************************************
*                     ESTRUTURA
*****************************************************/
.urna {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

.tela {
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 3px solid #555;
    display: flex;
    flex-direction: column;
}

.teclado {
    background-color: #403a3a;
    margin-left: 30px;
    padding: 10px;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.teclado ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teclado ul li {    
    cursor: pointer;    
    background-color: #000;
    color: #FFF;
    box-shadow: 1px 1px 1px 1px #696868;
    width: 75px;
    height: 39px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.teclas-numericas li {
    margin: 7px 10px;
    font-size: 1.2em;
}

ul.teclas {
    display: flex;
    align-items: flex-end;
}

ul.teclas li {
    margin: 5px;
    font-size: 0.9em;
    color: #000;
}

ul.teclas #btn-branco {
    background-color: #FFF;
}

ul.teclas #btn-corrige {
    background-color: #F09046;
}

ul.teclas #btn-confirma {
    background-color: #48C079;
    width: 95px;
    height: 45px;
}

/****************************************************
*                     TELA
*****************************************************/
.display {
    flex: 1;
    display: flex;
}

.display-esq {
    flex: 1;
}

.display-dir {
    width: 90px;
}

.instrucoes {
    height: 50px;
    border-top: 2px solid #000;
    font-size: 0.9em;
    padding-left: 5px;
}
